<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" type="text/css" href="{{ css_include }}">
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <script src="https://unpkg.com/topojson-client@3"></script>
    </head>
    <body>
        <div id="chart"></div>
        <div id="info">
            <table>
            <tr>
                <th>filename</th>
                <th>lat_range</th>
                <th>lon_range</th>
                <th>variable</th>
                <th>date</th>
            </tr>
            <tr>
                <td>{{ filename }}</td>
                <td>{{ lat_range[0] }} to {{ lat_range[1] }}</td>
                <td>{{ lon_range[0] }} to {{ lon_range[1] }} </td>
                <td>{{ variable }}</td>
                <td>{{ time }}</td>
            </tr>
            </table>
        </div>
        <div id="tooltip"></div>
        <script>
            window.g_lon0 = {{ lon_range[0] }}
            window.g_lon1 = {{ lon_range[1] }}
            window.g_lat0 = {{ lat_range[0] }}
            window.g_lat1 = {{ lat_range[1] }}
            window.g_plotDataUrl = "{{ plot_data_url }}"
        </script>
        <script src="{{ js_include }}"></script>
    </body>
</html>
